<% include partials/header.ejs %>
<div class="jumbotron">
	<div class="container text-center">
		<h1><%=data.Title%></h1>
		<img src="<%=data.Poster%>" height="300px">
		<div id="back-button">
			<a class="btn btn-primary" role="button" href="/">Back</a>
		</div>
	</div>
	
</div>





<div class="container">
	<ul class="list-group">
		<% for (var movie in data) { %>
 			<li class="list-group-item"><%=movie%> - <strong><%=data[movie]%></strong></li>
		<% } %>
	</ul>
</div>



<% include partials/footer.ejs %>